html {
    box-sizing: border-box;
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Alegreya', serif;
    overflow-x: hidden;
}

#firstDiv {
    //background-image: url(../images/garden1.jpg);
   //background-size: cover;
   height: 100vh;
   width: 100%;
   //box-shadow: 20px 20px 50px 50px rgb(187, 187, 187) inset;
    //box-shadow: 20px 20px 50px 50px rgb(185, 185, 185);
   //z-index:-1; 
   background-attachment: fixed;
    #background-video {
        object-fit: cover;
        position: absolute;
        //float: right;
        /*left: 0;
        right: 0;
        top: 0;
        bottom: 0;*/
        height: 100vh;
        width: 100%;
        z-index: -11;
    }
    .background-overlay {
        background-color: rgba(0, 0, 0, 0.250);
        width: 100%;
        height: 100vh;
        position: relative;
        z-index: -10;
    }
    #img-first-div{
        position: absolute;
        bottom: 0;
        left: 0;
        margin-right: auto;
        height: 100vh;
        z-index: -11;
    }
}

#secondDiv {
    //box-shadow: 0px 20px 20px rgb(187, 187, 187) inset;
    box-shadow: 20px 20px 50px 50px rgb(194, 194, 194);
    height: 100vh;
    width: 100%;
    background-color: black;
    background-image: linear-gradient(55deg, rgba(186, 186, 186, 0.419), rgba(118, 118, 118, 0.346));
    z-index: 1;
}   
    #text-box1{
        //background-color: rgba(225, 214, 199, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        //top: 62rem;
        //padding-top: 12rem;
        //padding-bottom: 12rem;
        //margin-left: 7rem;
        //margin-right: auto;
        //height: 70%;
        width: auto;
        text-align: justify;
        #i-epic {
        text-indent: 10rem;
        opacity: 0;
        transition-duration: 1500ms;
        transition-delay: 1500ms;
        }
        #text1-div2{
            padding-top: 10rem;
            margin-left: 5rem;
            opacity: 0;
            transition-duration: 1500ms;
            transition-delay: 500ms;
        }
        #text2-div2{
            text-align: center;
            margin-top: 11rem;
            margin-right: 5rem;
            margin-left: 5rem;
            //padding-bottom: 5rem;
            font-size: 80px;
            opacity: 0;
            transition-duration: 1500ms;
            transition-delay: 3000ms;
        }
    }

    #text1-div2, #text2-div2, #i-epic{
        height: fit-content;
        font-size: 7.5rem;    
        font-weight: 590;
        color: rgb(203, 203, 203);
        text-shadow: 4px 4px rgba(0, 0, 0, 0.947);
    }
    /*#text-box2{
        text-align: center;
        margin-bottom: 0;
        position: absolute;
        top: 100rem;
        width: 100%;
        
}*/

#secondDiv:hover{
    #text1-div2, #i-epic, #text2-div2{
        opacity: 1;
    }
}

#flower{
    position: absolute;
    width: 45vw;
    height: auto;
    right: 0;
    margin-top: 10vh;
    margin-right: 14vw;
    opacity: 1;
    transition-duration: 1000ms;
    transition-delay: 1500ms;
}

//


#thirdDiv {
    //box-shadow: 20px 20px 50px 50px rgb(187, 187, 187) inset;
    box-shadow: 20px 20px 50px 50px rgb(185, 185, 185);
    height: 100vh;
    width: 100%;
    //background-attachment: fixed;

    #background-img2{
        object-fit: cover;
        height: 100vh;
        width: 100%;
        z-index: 0;
        position: absolute;
    }
    #background-overlay2{
        background-color: rgba(0, 0, 0, 0.45);
        z-index: 1;
        width: 100%;
        height: 100vh;
        position: absolute;
    }
    #flex-text-box{
        position: relative;
        width: 42vw;
        //top: 1950px;
        float: right;
        display: flex;
        flex-direction: column;
        height: fit-content;
        z-index: 15;
        right: 8vw;
        margin-top: 10vh;
        overflow-x: visible;
        .text-box{
            display: flex;
            font-size: 40px;
            border: 2px solid rgba(255, 255, 255, 0.163);
            margin-top: 45px;
            //margin-left: 50px;
            //margin-right: 50px;
            padding: 1rem;
            text-align: center;
            
            a{
            text-decoration: none;
            width: 100%;
            color: antiquewhite;

            }
        }

        .text-box:hover{
            background-color: antiquewhite;
            transition-duration: 500ms;
            border: none;
            box-shadow:10px 10px 50px 40px rgb(185, 185, 185);
            
            a{
                color: rgb(52, 52, 55);
            }
        }
        
    }
}


#fourthDiv{
    //box-shadow: 20px 20px 50px 50px rgb(185, 185, 185);
    height: 110vh;
    width: 100%;
    background-color: black;
    position: absolute;
    overflow: visible;
}
    #back-to-top{
        width: 40px;
        height: 40px;
        background-color: rgba(198, 186, 171, 0.465);
        //float: left;
        left: 0;
        position: sticky;
        //margin-top: auto;
        //margin-bottom: auto;
        top: 50%;
        opacity: 1;
        //z-index: 15;
        overflow-x: visible;

        }
        #up-arrow{
            width: 40px;
            height: 40px;
        }


    #text-content {
        position: relative;
        left: -12.5rem;
        width: 66%;
        height: auto;
        //align-self: center;
        margin-top: 0;
        padding: 5rem;
        padding-top: 2.5rem;
        padding-bottom: 4rem;
        color: antiquewhite;
        z-index: 15;

        #p-header{
            //font-size: 10ch;
            font-size: 4.5vw;
            font-weight: 700;
            margin-bottom: 2rem;
        }
        .p-content {
//            font-size: 4.6ch;
            font-size: 2.2vw;
            padding-left: 15rem;
        }
    }

    #pic-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        float: left;
        top: 22vh;
        left: 2.5vw;
        //top:2925px;
        z-index: 20;
    }

    #epic-pic {
       // position: absolute;
        //top:2950px;
        height: 40vh;
        width: 20vw;

    }

    #my-pic {
        //position: absolute;
        //top:3350px;
       // left: 5rem;
        //height: 400px;
        height: 40vh;
        width: 25vw;
        //width: 320px;
        border-radius: 100px;
    }
//

//
.barShrunk {
    width: 40px;
    height: 40px;
    background-color: rgba(198, 186, 171, 0.465);
    transition: 500ms;
    float: right;
    position: sticky;
    top: 50%;
    opacity: 1;
    overflow-x: visible;
    .bar-arrow{
        width: 40px;
        height: 40px;
        
    }
}

.contactBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;
    //position: sticky;
    //left: 0;
    //text-align: right;
    //padding-top: 7px;
    transition: 500ms;
    opacity: 0;
    font-size: 25px ;
    .text, .github, .email, .ig {
        //display: inline-block;
        margin: 5px 0px;
        width: fit-content;
        height: 5rem;
        text-align: center;
      }
      
      .contactBar .text {
        //position: relative;
        top: -1rem;
        //font-family: x;
      }
}

.barShrunk:hover {
    padding: 0;
    margin: 0;
    width: 15%;
    height: 50%;
    background-color: rgba(202, 202, 202, 0.756);
    //list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //left: 0;
    padding-top: 7px;
    transition: 500ms;
    border: 10px groove rgba(196, 188, 177, 0.505);
    z-index: 10;
    opacity: 1;
    overflow-x: visible;
    .contactBar {
        opacity: 1;
        overflow-x: visible;
    }
    .bar-arrow{
        opacity: 0;
        overflow-x: visible;
    }
}

  
@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }

  footer {
    position: static;
    display: flex;
    background-color: #1F2937;
    color: white;
    height: 100px;
    font-size: 16px;
    font-weight: bold;
    z-index: 29;
}

footer p {
margin: auto;
}