@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Alegreya', serif;
}

#firstDiv {
  height: 100vh;
  width: 100%;
  -webkit-box-shadow: 20px 20px 50px 50px #b9b9b9;
          box-shadow: 20px 20px 50px 50px #b9b9b9;
  background-attachment: fixed;
}

#firstDiv #background-video {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  /*left: 0;
        right: 0;
        top: 0;
        bottom: 0;*/
  height: 100vh;
  width: 100%;
  z-index: -11;
}

#firstDiv .background-overlay {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -10;
}

#firstDiv #img-first-div {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-right: auto;
  height: 100vh;
  width: 100%;
  z-index: -11;
}

#secondDiv {
  -webkit-box-shadow: 20px 20px 50px 50px #c2c2c2;
          box-shadow: 20px 20px 50px 50px #c2c2c2;
  height: 100vh;
  width: 100%;
  background-color: black;
  background-image: linear-gradient(55deg, rgba(186, 186, 186, 0.419), rgba(118, 118, 118, 0.346));
  z-index: 1;
}

#text-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: auto;
  text-align: justify;
}

#text-box1 #i-epic {
  text-indent: 10rem;
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
  -webkit-transition-delay: 1500ms;
          transition-delay: 1500ms;
}

#text-box1 #text1-div2 {
  padding-top: 10rem;
  margin-left: 5rem;
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

#text-box1 #text2-div2 {
  text-align: center;
  margin-right: 5rem;
  margin-left: 5rem;
  -webkit-transition-duration: 1500ms;
          transition-duration: 1500ms;
  -webkit-transition-delay: 3000ms;
          transition-delay: 3000ms;
}

#text1-div2, #text2-div2, #i-epic {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 590;
  color: #cbcbcb;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.947);
}

/*#text-box2{
        text-align: center;
        margin-bottom: 0;
        position: absolute;
        top: 100rem;
        width: 100%;
        
}*/
#flower {
  position: absolute;
  width: 45vw;
  height: auto;
  right: 0;
  margin-top: 10vh;
  margin-right: 14vw;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transition-delay: 1500ms;
          transition-delay: 1500ms;
}

#thirdDiv {
  -webkit-box-shadow: 20px 20px 50px 50px #b9b9b9;
          box-shadow: 20px 20px 50px 50px #b9b9b9;
  height: 100vh;
  width: 100%;
}

#thirdDiv #background-img2 {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: 100%;
  z-index: 0;
  position: absolute;
}

#thirdDiv #background-overlay2 {
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: absolute;
}

#thirdDiv #flex-text-box {
  position: relative;
  width: 42vw;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 15;
  right: 8vw;
  margin-top: 10vh;
  overflow-x: visible;
}

#thirdDiv #flex-text-box .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  border: 2px solid rgba(255, 255, 255, 0.163);
  margin-top: 45px;
  padding: 1rem;
  text-align: center;
}

#thirdDiv #flex-text-box .text-box a {
  text-decoration: none;
  width: 100%;
  color: antiquewhite;
}

#thirdDiv #flex-text-box .text-box:hover {
  background-color: antiquewhite;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  border: none;
  -webkit-box-shadow: 10px 10px 50px 40px #b9b9b9;
          box-shadow: 10px 10px 50px 40px #b9b9b9;
}

#thirdDiv #flex-text-box .text-box:hover a {
  color: #343437;
}

#fourthDiv {
  -webkit-box-shadow: 20px 20px 50px 50px #b9b9b9;
          box-shadow: 20px 20px 50px 50px #b9b9b9;
  height: 100vh;
  width: 100%;
  background-color: black;
  position: absolute;
  overflow-y: hidden;
}

#back-to-top {
  width: 4rem;
  height: 4rem;
  background-color: rgba(198, 186, 171, 0.465);
  left: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  opacity: 1;
  z-index: 22;
  overflow-x: visible;
}

#up-arrow {
  width: 40px;
  height: 40px;
}

#text-content {
  position: absolute;
  right: 14rem;
  width: 66%;
  height: auto;
  margin-top: 0;
  padding-top: 12rem;
  color: antiquewhite;
  z-index: 15;
}

#text-content #p-header {
  font-size: 4.5vw;
  font-weight: 700;
  margin-bottom: 2rem;
}

.p-content {
  padding-left: 15rem;
}

#pic-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 2.5vw;
  padding-top: 20rem;
  z-index: 20;
}

#epic-pic {
  height: 40vh;
  width: 20vw;
}

#my-pic {
  height: 40vh;
  width: 25vw;
  border-radius: 100px;
}

.contactBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  height: auto;
  bottom: 0vh;
  right: 29vw;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  /*.contactBar .text {
        //position: relative;
        //top: -1rem;
        //font-family: x;
      }

      .text {
          margin-bottom: 1rem;
      }*/
}

.contactBar .text, .contactBar .github, .contactBar .email, .contactBar .ig {
  margin: 0.5rem 1rem;
  text-align: center;
}

footer {
  position: relative;
  bottom: -100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1F2937;
  color: white;
  height: 100px;
  font-size: 16px;
  font-weight: bold;
  z-index: 29;
}

footer p {
  margin: auto;
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  /*8#img-first-div{
        position: absolute;
        bottom: 0;
        left: 0;
        margin-right: auto;
        height: 100vh;
        z-index: -11;
        width: 100vw;
    }*/
  #text2-div2 {
    margin-top: 11rem;
  }
  #text-box1, #text1-div2, #i-epic, #text2-div2 {
    opacity: 1;
  }
  #flower {
    margin-right: 3vw;
  }
  #pic-div {
    overflow: visible;
  }
  #epic-pic, #my-pic {
    height: 30vh;
    width: 30vw;
  }
  .p-content {
    font-size: 2.4rem;
  }
  .contactBar {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #img-first-div {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-right: auto;
    height: 110vh;
    z-index: -11;
    width: 100vw;
  }
  .contactBar {
    position: absolute;
    background-color: rgba(240, 248, 255, 0.74);
    border-radius: 3rem;
  }
}

@media only screen and (orientation: landscape) and (max-width: 992px) {
  /* For tablets: */
  #img-first-div {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-right: auto;
    height: 120vh;
    z-index: -11;
    width: 120vw;
  }
  #text1-div2, #i-epic, #text2-div2 {
    opacity: 1;
  }
  #flower {
    margin-right: 3vw;
  }
  #pic-div {
    overflow: visible;
  }
  #epic-pic, #my-pic {
    height: 30vh;
    width: 30vw;
  }
  .contactBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50vw;
    height: 7vh;
    position: absolute;
    bottom: 0vh;
    right: 26vw;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    font-size: 2.5rem;
    background-color: rgba(240, 248, 255, 0.661);
    border-radius: 3rem;
    opacity: 1;
  }
  .contactBar .text, .contactBar .github, .contactBar .email, .contactBar .ig {
    margin: 0.5rem 1rem;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .p-content {
    font-size: 2.8rem;
  }
  #text1-div2, #i-epic, #text2-div2 {
    opacity: 0;
  }
  #secondDiv:hover #text1-div2, #secondDiv:hover #i-epic, #secondDiv:hover #text2-div2 {
    opacity: 1;
  }
  .barShrunk {
    width: 4rem;
    height: 4rem;
    background-color: rgba(198, 186, 171, 0.465);
    -webkit-transition: 500ms;
    transition: 500ms;
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    opacity: 1;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .barShrunk .bar-arrow {
    width: 4rem;
    height: 4rem;
  }
  .contactBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    position: static;
    -webkit-transition: 500ms;
    transition: 500ms;
    opacity: 0;
    font-size: 2.5rem;
  }
  .contactBar .text, .contactBar .github, .contactBar .email, .contactBar .ig {
    margin: 0.5 rem 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 7rem;
    text-align: center;
  }
  .contactBar .contactBar .text {
    top: -1rem;
  }
  .contactBar .text {
    margin-bottom: 1rem;
  }
  .barShrunk:hover {
    padding: 0;
    margin: 0;
    width: 15%;
    height: 50%;
    background-color: rgba(202, 202, 202, 0.842);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0.7rem;
    -webkit-transition: 500ms;
    transition: 500ms;
    z-index: 10;
    opacity: 1;
    overflow-x: visible;
  }
  .barShrunk:hover .contactBar {
    opacity: 1;
    overflow-x: visible;
  }
  .barShrunk:hover .bar-arrow {
    opacity: 0;
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 1050px) {
  #text1-div2, #i-epic, #text2-div2 {
    opacity: 0;
  }
  #secondDiv:hover #text1-div2, #secondDiv:hover #i-epic, #secondDiv:hover #text2-div2 {
    opacity: 1;
  }
}

@media only screen and (min-width: 1100px) {
  #text1-div2, #i-epic {
    font-size: 8rem;
  }
  #text2-div2 {
    font-size: 9rem;
  }
  .p-content {
    font-size: 3rem;
  }
  #epic-pic, #my-pic {
    height: 25vh;
    width: 25vw;
  }
}

@media only screen and (min-width: 1350px) {
  #epic-pic, #my-pic {
    height: 30vh;
    width: 23vw;
  }
}

@media only screen and (min-width: 1650px) {
  #epic-pic, #my-pic {
    height: 35vh;
    width: 23vw;
  }
  .p-content {
    font-size: 3.3rem;
  }
}

@media only screen and (min-width: 1900px) {
  #text2-div2 {
    margin-top: 20rem;
  }
  #text-content {
    right: 34rem;
    width: 56%;
  }
}
/*# sourceMappingURL=main.css.map */