html {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Alegreya', serif;
    overflow-x: hidden;
}

#firstDiv {
    //background-image: url(../images/garden1.jpg);
   //background-size: cover;
   height: 100vh;
   width: 100%;
   //box-shadow: 20px 20px 50px 50px rgb(187, 187, 187) inset;
    //box-shadow: 20px 20px 50px 50px rgb(185, 185, 185);
   //z-index:-1; 
    #background-img1 {
        object-fit: cover;
        position: fixed;
        //float: right;
        /*left: 0;
        right: 0;
        top: 0;
        bottom: 0;*/
        height: 100vh;
        width: 100%;
        z-index: -11;
    }
    .background-overlay {
        background-color: rgba(0, 0, 0, 0.250);
        width: 100%;
        height: 100vh;
        position: relative;
        z-index: -10;
    }
    #img-first-div{
        position: absolute;
        bottom: 0;
        left: 0;
        margin-right: auto;
        height: 100vh;
        z-index: -1;
    }
}

#secondDiv {
    //box-shadow: 0px 20px 20px rgb(187, 187, 187) inset;
    box-shadow: 20px 20px 50px 50px rgb(194, 194, 194);
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(55deg, rgb(175, 159, 159), rgb(85, 91, 101));
    z-index: 1;
}   
    #text-box1{
        //background-color: rgba(225, 214, 199, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        //top: 62rem;
        //padding-top: 12rem;
        //padding-bottom: 12rem;
        //margin-left: 7rem;
        //margin-right: auto;
        //height: 70%;
        width: auto;
        #i-epic {
        text-indent: 10rem;
        opacity: 0;
        transition-duration: 1500ms;
        transition-delay: 2000ms;
        }
        #text1-div2{
            padding-top: 10rem;
            margin-left: 5rem;
            opacity: 0;
            transition-duration: 1500ms;
            transition-delay: 500ms;
        }
    }

    #text1-div2, #text2-div2, #i-epic{
        //max-width: fit-content;
        height: fit-content;
        font-size: 70px;    
        //font-family: Merienda;
        font-weight: 590;
        text-shadow: 2px 2px rgba(214, 190, 190, 0.947);
    }
    #text-box2{
        text-align: center;
        margin-bottom: 0;
        #text2-div2{
            padding-top: 40rem;
            margin-right: 5rem;
            margin-left: 5rem;
            //padding-bottom: 5rem;
            font-size: 80px;
            opacity: 0;
            transition-duration: 1500ms;
            transition-delay: 4000ms;
    }
}

#secondDiv:hover{
    #text1-div2, #i-epic, #text2-div2, #f1, #f2, #f3{
        opacity: 1;
    }
}

#f1{
    position: absolute;
    //width: 250px;
    //height: 320px;
    right: 80px;
    top: 900px;
    opacity: 0;
    transition-duration: 1000ms;
    transition-delay: 1000ms;
}

#f2{
    position: absolute;
    width: 350px;
    height: 420px;
    top: 950px;
    left: 700px;
    opacity: 0;
    transition-duration: 1000ms;
    transition-delay: 4000ms;
}

#f3{
    position: absolute;
    //width: 250px;
    //height: 320px;
    //right: 80px;
    right: 500px;
    top: 1000px;
    opacity: 0;
    transition-duration: 1000ms;
    transition-delay: 7000ms;
}
//


#thirdDiv {
    //box-shadow: 20px 20px 50px 50px rgb(187, 187, 187) inset;
    box-shadow: 20px 20px 50px 50px rgb(185, 185, 185);
    height: 100vh;
    width: 100%;

    #background-img2{
        object-fit: cover;
        height: 100vh;
        width: 100%;
        z-index: 0;
        position: absolute;
    }
    #background-overlay2{
        background-color: rgba(0, 0, 0, 0.45);
        z-index: 1;
        width: 100%;
        height: 100vh;
        position: relative;
    }
    #flex-text-box{
        position: absolute;
        top: 1950px;
        display: flex;
        flex-direction: column;
        height: fit-content;
        z-index: 15;
        right: 5rem;
        overflow-x: visible;
        .text-box{
            display: flex;
            font-size: 40px;
            border: 2px solid rgba(255, 255, 255, 0.163);
            margin-top: 45px;
            margin-left: 50px;
            margin-right: 50px;
            padding: 1.5rem;
            text-align: center;
            
            a{
            text-decoration: none;
            width: 100%;
            color: antiquewhite;

            }
        }

        .text-box:hover{
            background-color: antiquewhite;
            transition-duration: 500ms;
            border: none;
            box-shadow:10px 10px 50px 40px rgb(185, 185, 185);
            
            a{
                color: rgb(52, 52, 55);
            }
        }
        
    }
}


#fourthDiv{
    box-shadow: 20px 20px 50px 50px rgb(185, 185, 185);
    height: 120vh;
    width: 100%;
    background-color: black;
    position: absolute;
}
    #back-to-top{
        width: 40px;
        height: 40px;
        background-color: rgba(198, 186, 171, 0.465);
        //float: left;
        left: 0;
        position: sticky;
        //margin-top: auto;
        //margin-bottom: auto;
        top: 50%;
        opacity: 1;
        //z-index: 15;
        overflow-x: visible;

        }
        #up-arrow{
            width: 40px;
            height: 40px;
        }


    #text-content {
        position: relative;
        //top: 0;
        width: 60%;
        align-self: center;
        margin: auto;
        padding: 5rem;
        color: antiquewhite;

        #p-header{
            font-size: 75px;
            font-weight: 700;
            margin-bottom: 2rem;
        }
        .p-content {
            font-size: 40px;
            padding-left: 15rem;
        }
    }

    #pic-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 2rem;
        top:2950px;

    }

    #epic-pic {
       // position: absolute;
        //top:2950px;
        height: 400px;
        width: 400px;
    }

    #my-pic {
        //position: absolute;
        //top:3350px;
       // left: 5rem;
        height: 400px;
        width: 320px;
        border-radius: 100px;
    }
//






//
.barShrunk {
    width: 40px;
    height: 40px;
    background-color: rgba(198, 186, 171, 0.465);
    transition: 500ms;
    float: right;
    position: sticky;
    margin-top: auto;
    margin-bottom: auto;
    top: 50%;
    opacity: 1;
    overflow-x: visible;
    .bar-arrow{
        width: 40px;
        height: 40px;
        
    }
}

.contactBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;
    //position: sticky;
    //left: 0;
    //text-align: right;
    //padding-top: 7px;
    transition: 500ms;
    opacity: 0;
    font-size: 25px ;
    .text, .github, .email, .ig {
        //display: inline-block;
        margin: 5px 0px;
        width: fit-content;
        height: 5rem;
        text-align: center;
      }
      
      .contactBar .text {
        //position: relative;
        top: -1rem;
        //font-family: x;
      }
}

.barShrunk:hover {
    padding: 0;
    margin: 0;
    width: 17rem;
    height: 50vh;
    background-color: rgba(202, 202, 202, 0.756);
    //list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //left: 0;
    padding-top: 7px;
    transition: 500ms;
    border: 10px groove rgba(196, 188, 177, 0.505);
    //z-index: 10;
    opacity: 1;
    overflow-x: visible;
    .contactBar {
        opacity: 1;
        overflow-x: visible;
    }
    .bar-arrow{
        opacity: 0;
        overflow-x: visible;
    }
}

  
@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }

  footer {
    position: relative;
    display: flex;
    background-color: #1F2937;
    color: white;
    height: 100px;
    font-size: 16px;
    font-weight: bold;
}

footer p {
margin: auto;
}